@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  --color-background: #ffffff;
  --color-primary: #f89c1d;
  --color-secondary: #512600;
  --color-button-color: #ff7800;
  --color-darkgray-color: #323232;
  --color-gray-color: #808080;
  --color-black: #1c1d1d;
}
