@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  /* Brand Colors */
  --color-primary: #f89c1d;
  --color-secondary: #512600;
  --color-secondary-highlight: #6d260d;
  --color-highlight: #f27200;
  --color-teal: #006874;
  --color-highlight-teal: #008a94;

  /* Neutrals */
  --color-white: #ffffff;
  --color-black: #1c1d1d;
  --color-dark-gray: #323232;
  --color-gray: #808080;
  --color-neutral: #575757;
}
