/* ------------------------ Input Search Styling -------------------------- */
input[type="search"] {
  background-image: url("../../public/svg/search.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 8px 40px 8px 14px;
  cursor: pointer;
}

/* Hide number input arrows (cross-browser) */
input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].no-spinner {
  -moz-appearance: textfield;
}