@import "./_colors.css";
@import "tailwindcss";

@layer components {
  .container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 4rem;
  }

  @media (max-width: 1024px) {
    .container {
      max-width: 100% !important;
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 0 1rem !important;
    }
  }

  /* -------------------------------- svg style ----------------------------------- */
  .svg-style {
    @apply fill-black hover:fill-primary hover:scale-110 transition-all ease-in-out cursor-pointer;
  }

  .svg-secondary-style {
    @apply fill-secondary group-hover:fill-primary group-hover:scale-115 transition-all ease-in-out cursor-pointer;
  }

  .slider-icon-svg {
    @apply stroke-2 stroke-black group-hover:stroke-white transition-all ease-in-out;
  }

  .close-icon-svg {
    @apply fill-[#ABABAB] group-hover:fill-red-500 stroke-white active:scale-105 group-hover:scale-115 transition-all ease-in-out cursor-pointer;
  }

  /* -------------------------------- Badge style ----------------------------------- */
  .badge-style {
    @apply flex items-center gap-2 px-6 py-1 border-2 border-neutral rounded-md w-fit font-semibold text-gray text-sm;
  }

  .success-badge-style {
    @apply bg-[#F0FDF4] border-[#21BF5B] text-[#16A34A];
  }
}
