@import './_colors.css';
@import "tailwindcss";

@layer components {
  .container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 4rem;
  }
  
  .svg-style {
    @apply fill-black hover:fill-primary hover:scale-110 transition-all ease-in-out cursor-pointer;
  }

  .svg-secondary-style {
    @apply fill-secondary group-hover:fill-primary group-hover:scale-115 transition-all ease-in-out cursor-pointer;
  }
}
