@import "./_colors.css";
@import "tailwindcss";

body {
  position: relative;
  margin: 0;
  height: 100vh;
}

body::before {
  background-image: url("../../public/images/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  filter: saturate(2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

/* ------------ ScrollBar Style ------------ */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-primary);
}

.swiper-pagination
  .swiper-pagination-clickable
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  position: absolute;
  top: -200px !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: transparent !important;
  border: 2px solid var(--color-primary);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}
/* 
.text-outline-shadow {
  text-shadow: -2px -2px 0 var(--color-white), 2px -2px 0 var(--color-white),
    -2px 2px 0 var(--color-white), 2px 2px 0 var(--color-white);
} */


.text-outline-shadow {
  text-shadow:
    -3px -3px 0 var(--color-white),
     0   -3px 0 var(--color-white),
     3px -3px 0 var(--color-white),
    -3px  0   0 var(--color-white),
     3px  0   0 var(--color-white),
    -3px  3px 0 var(--color-white),
     0    3px 0 var(--color-white),
     3px  3px 0 var(--color-white);
}
