@import './_colors.css';
@import "tailwindcss";

body {
  position: relative;
  margin: 0;
  height: 100vh;
}

body::before {
  background-image: url("../../public/images/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  filter: saturate(2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

@layer components {
  .container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 4rem;
  }
  
  .svg-style {
    @apply fill-black hover:fill-primary cursor-pointer transition-all ease-in-out hover:scale-110;
  }
}
